:root {
	--bg: linear-gradient(#fffbef, #ffeaf5);
	--main: #ff88cd;
	--link: #af4c86;
	--text: #3e366b;
	color-scheme: light;
}

:root:has(body.dark) {
	--bg: #0e0c14;
	--main: #ff88cd;
	--link: var(--main);
	--text: #ffffff;
	color-scheme: dark;
}

body {
	margin: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	background: var(--bg);
	color: var(--text);
	min-height: calc(100vh - 6rem);
}

#me {
	height: calc(100vh - 6rem);
	display: block;
}

div.panel {
	outline: 0.25rem solid var(--main);
	padding: 1rem;
	border-radius: 0.3rem;
	height: fit-content;
	max-width: 25rem;
	box-shadow: -0.6rem 0.6rem 0 #3e366b22;
}

::selection {
	background-color: var(--main);
	color: #000000;
}

a {
	color: var(--link);
}

@keyframes rainbow_donator {
	0% {
		filter: hue-rotate(0deg);
	}
	
	100% {
		filter: hue-rotate(360deg);
	}
}

.rainbow_donator {
	animation: rainbow_donator 1s linear infinite forwards;
	color: #ff0000;
}

#light_switch {
	position: fixed;
	top: 0;
	left: 0;
}

:focus-visible {
	outline: 0.2rem solid var(--main);
	border-radius: 0.1rem;
	border-color: transparent;
}

.skip_to_content:not(:focus) {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
}
