@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap");

:root {
	--bg: linear-gradient(#fffbef, #ffeaf5);
	--main: #b8a5fd;
	--link: #7957ff;
	--restricted: #ffd6dd;
	--restricted-bold: #ff9ba8;
	--text: #3e366b;

	--cursor-default: url("/media/cursor.png") 0 0, default;
	--cursor-interact: url("/media/cursor_interact.png") 0 0, pointer;
	cursor: var(--cursor-default);

	color-scheme: light;
}

:root:has(body.dark) {
	--bg: #0e0c14;
	--main: #b8a5fd;
	--link: var(--main);
	--restricted: #64444a;
	--text: #ffffff;
	color-scheme: dark;
}

body {
	margin: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	background: var(--bg);
	color: var(--text);
	min-height: calc(100vh - 6rem);
  font-family: "Mukta Mahee";
  line-height: 1.55rem;
}

#me {
	height: calc(100vh - 6rem);
	display: block;
}

div.panel {
	outline: 0.25rem solid var(--main);
	padding: 1rem;
	border-radius: 0.3rem;
	height: fit-content;
	max-width: 30rem;
	box-shadow: -0.6rem 0.6rem 0 #3e366b22;
}

div.panel > img,
div.panel > p > img,
div.panel > .img-restricted > img {
	max-width: 100%;
	display: block;
}

::selection {
	background-color: var(--main);
	color: #000000;
}

a {
	color: var(--link);
}

@keyframes rainbow_donator {
	0% {
		filter: hue-rotate(0deg);
	}
	
	100% {
		filter: hue-rotate(360deg);
	}
}

.rainbow_donator {
	animation: rainbow_donator 1s linear infinite forwards;
	color: #ff0000;
}

#light_switch {
	position: fixed;
	top: 0;
	left: 0;
}

:focus-visible,
.img-restricted:has(:focus-visible) {
	outline: 0.2rem solid var(--main);
	border-radius: 0.1rem;
	border-color: transparent;
}

.skip_to_content:not(:focus) {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
}

hr {
	border: 0.15rem solid var(--main);
	border-radius: 0.3rem;
}

#s0g-webring {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

#s0g-webring img {
  width: 7rem;
}

body.dark #s0g-webring img {
  filter: invert();
}

#mobile-dark-mode-toggle {
  display: none;
}

.char-preview {
	padding: 1rem;
	outline: 0.3rem solid var(--main);
	border-radius: 0.15rem;
	display: block;
	color: inherit;
	text-decoration: inherit;
	margin: 1rem 0;
	width: calc(100% - 2rem);
}

.char-preview:focus-visible {
	outline-width: 0.5rem;
}

.char-preview img {
	width: 100%;
	aspect-ratio: 1 / 1;
}

div.content-warning {
	color: #ffed48;
	background-color: #5c551d;
	padding: 1rem;
	outline: 0.3rem solid #ffed48;
}

.restricted:not(:hover, .show:focus-visible):not(:is(img)) {
	user-select: none;
	color: transparent;
}

.restricted:not(:hover, .show:focus-visible):not(:is(img)) a {
	color: transparent;
}

.restricted:not(:is(img)) {
	background-color: var(--restricted);
}

img.restricted:not(:hover, .show) {
	filter: blur(4rem);
}

.img-restricted {
  overflow: hidden;
}

.img-restricted:not(:has(:focus-visible)) {
	outline: 0.3rem solid var(--restricted-bold);
}

a,
input[type="search"] {
	cursor: var(--cursor-interact);
}

label {
	cursor: inherit;
}

@media (max-width: 75rem) {
  body {
    flex-direction: column;
  }

  #mobile-dark-mode-toggle {
    display: block !important;
  }

  #dark-mode-control-indicator {
    display: none;
  }
}

@media print {
	body {
		background: initial;
		color: initial;
		display: block !important;
		margin: 0;
	}

	a {
		color: initial;
		text-decoration: none;
	}

	div.panel {
		outline: none;
		padding: 1rem;
		border-radius: 0;
		height: fit-content;
		box-shadow: none;
		max-width: initial;
	}

	#mobile-dark-mode-toggle {
		display: none !important;
	}

	#navigation {
		display: none;
	}

	#me {
		display: none;
	}

	.back {
		display: none;
	}

	.restricted,
	.img-restricted {
		display: none;
	}

	div.panel > img,
	div.panel > p > img,
	div.panel > .img-restricted > img {
		max-width: 14rem;
	}

	.char-preview {
		width: 14rem;
	}

	.content-warning {
		display: none;
	}
}
